<nb-card size="small" class="w-50 mx-auto mt-5">
    <nb-card-header>Palindrome Checker</nb-card-header>
    <nb-card-body>
        <input class="h-40" nbInput fullWidth="" placeholder="Enter The Words Here" status="success" [(ngModel)]="searchSentence">
    </nb-card-body>
    <nb-card-footer>
        <div class="text-end">
            <button nbButton status="primary" (click)="clicking()">Check Here</button>
        </div>
            <div> Palindrome is {{cheking}} </div>
    </nb-card-footer>
</nb-card>
<!-- <nb-card>
    <input class="h-40" nbInput placeholder="Enter The String Here" status="success" [(ngModel)]="enterSentence">
    <button nbButton status="primary" (click)="lastIndex()">Last Index</button>

</nb-card>
<nb-card class="row">
    <input #templateReference class="h-40" nbInput  placeholder="Template reference variable" status="success" class="col" value="nisha" (keyup)="898">{{templateReference.value}}
    <button nbButton status="primary" (click)="templateRef(templateReference)">Check Here</button>
</nb-card> -->